body {
    font-family: "Lato", sans-serif;
    color: #666756;
    font-weight: 300;
}

.container {
    max-width: 75%;
}

.url {
    color: #3434a8;
}

.text-featured {
    color:#2d3c49
}

.link {
 color: #7d97ad;
}

/* Header section*/
.name {
    font-weight: 300;
    font-size: 4em;
    margin: 15px 0 0;
    color: #101011;
}

.role {
    font-size: 1.25em;
    margin: 9px 0 9px;
}

.headshot {
    margin: 20px 0 0;
}

.header-line {
    border-width: 4px;
    border-color: #929090;
    margin: 8px 0px 15px;
}

/* Content section*/
.app-name {
    margin: 8px 0 3px;
    font-size: 1.6em;
}

.text-featured {
    font-weight: 400;
    font-size: 2.5em;
    padding: 0 0 0 5px;
}

.url {
    font-size: 1em;
    font-weight: 300;
}

@media screen and (min-width: 761px) {
    .name {
        font-size: 3em;
    }

    .role {
        font-size: 1em;
    }

    .text-featured {
        font-size: 2em;
        text-align: center;
    }

    .app-name {
        font-size: 1.5em;
    }

    .url {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 481px) and (max-width: 760px) {
    .name {
        font-size: 2em;
    }

    .role {
        font-size: 1em;
    }

    .text-featured {
        font-size: 2em;
        text-align: center;
    }

    .app-name {
        font-size: 1.5em;
    }

    .url {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 376px) and (max-width: 480px) {
    
    header {

        width:100%;
        display: flex;
        flex-wrap: wrap;
    }

    .name {
        font-size: 1.5em;
    }

    .role {
        font-size: 0.8em;
    }

    .text-featured {
        font-size:  1.25em;
    }

    .app-name {
        font-size: 1.25em;
    }

    .headshot {
        width: 50%;
    }
}

@media screen and (min-width: 1px) and (max-width: 375px)
{
    header {

        width:100%;
        display: flex;
        flex-wrap: wrap;
    }

    .name {
        font-size: 1em;
    }

    .role {
        font-size: 0.8em;
    }

    .text-featured {
        font-size:  1.25em;
    }

    .app-name {
        font-size: 1.25em;
    }

    .headshot {
        width: 50%;
    }

}